<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Lecturers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/ADMIN-Lecturer.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="/js/DataTable.js"></script>
    <script defer src="/js/managelecturer.js"></script>
</head>
<body>
    <!--Nav Bar-->
    <div class="overlay" id="overlay"></div>
    <div class="sidebar" id="sidebar">
    <nav class="nav-side-bar">
        <div class="header-side-bar">
            <h1>CHECK.MFU</h1>
            <button class="closebtn" onclick="closeSidebar()"><i class="fas fa-times"></i></button>
        </div>
        <div class="nav-menu">
            <li><a href="/home"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/manage-course"><i class="far fa-calendar-check"></i>Course</a></li>
            <li class="active"><a href="/manage-lecturer"><i class="fas fa-book-open"></i>Lecturer</a></li>
            <li><a href="#"><i class="fas fa-phone-volume"></i>Student</a></li>
            <li id="logout"><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </div>
        <script src="/js/overlay-navbar.js"></script>
    </nav>
    </div>
    <div class="content">
        <!-- header -->
        <div class="header-top-bar">
            <img src="/images/MFU-LOGO.png" alt="logo">
            <div class="vertical-line"></div>
            <div class="text-header-top-bar">
                <h2>Check-in Class</h2>
                <hr style="color: white; opacity: 0.8;">
                <p>MAE FAH LUANG UNIVERSITY</p>
            </div>
            <button class="openbtn" onclick="openSidebar()"><i class="fas fa-bars"></i></button>
        </div>

      <!-- Main content goes here -->
      <div class="container pt-3 pb-1">
          <button class="btn btn-primary" id="addLecturerBtn"><i class="fa fa-plus"></i> Add Lecturer</button>
      </div>
      <div class="container pt-5">
        <table id="datatable" class="table table-striped" style="width:100%">
          <thead>
              <tr>
                  <th>LecturerID</th>
                  <th>Name</th>
                  <th>Department</th>
                  <th>School</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <tr th:each="Lecturer : ${Lecturers}">
              <td th:text="${Lecturer.getID()}"></td>
              <td th:text="${Lecturer.getName()}"></td>
              <td th:text="${Lecturer.getDepartment()}"></td>
              <td th:text="${Lecturer.getSchool()}"></td>
              <td>
                  <a class="btnSCH" href="#"><i class="fas fa-book" title="Schedule"></i></a>
                  <a class="btnEdit" href="#"><i class="fas fa-pencil-alt" title="Edit"></i></a>
                  <a class="btnDelete" href="#"><i class="fas fa-trash-alt" title="Delete"></i></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
              <tr>
                  <th>LecturerID</th>
                  <th>Name</th>
                  <th>Department</th>
                  <th>School</th>
                  <th>Action</th>
              </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- Function Add -->
    <div class="modal fade" id="addLecturerModal" tabindex="-1" aria-labelledby="addLecturerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLecturerModalLabel">Add Lecturer</h5>
                    <button id="closeModalBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addLecturerForm">
                        <div class="mb-3">
                            <label for="lecturerPassword" class="form-label">Password:</label>
                            <input type="text" class="form-control" id="lecturerPassword" required>
                        </div>
                        <div class="mb-3">
                            <label for="lecturerName" class="form-label">Name:</label>
                            <input type="text" class="form-control" id="lecturerName" required>
                        </div>
                        <div class="mb-3">
                            <label for="lecturerDepartment" class="form-label">Department:</label>
                            <input type="text" class="form-control" id="lecturerDepartment" required>
                        </div>
                        <div class="mb-3">
                            <label for="lecturerSchool" class="form-label">School:</label>
                            <input type="text" class="form-control" id="lecturerSchool" required>
                        </div>
                        <div class="modal-footer">
                            <button id="closeModalBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Lecturer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Function Edit -->
    <div class="modal fade" id="editLecturerModal" tabindex="-1" aria-labelledby="editLecturerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLecturerModalLabel">Edit Lecturer</h5>
                    <button id="closeModalBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editLecturerForm">
                        <div class="mb-3">
                            <label for="editLecturerName" class="form-label">Edited Name:</label>
                            <input type="text" class="form-control" id="editLecturerName" required>
                        </div>
                        <div class="mb-3">
                            <label for="editLecturerDepartment" class="form-label">Edited Depart:</label>
                            <input type="text" class="form-control" id="editLecturerDepartment" required>
                        </div>
                        <div class="mb-3">
                            <label for="editLecturerSchool" class="form-label">Edited School:</label>
                            <input type="text" class="form-control" id="editLecturerSchool" required>
                        </div>
                        <div class="modal-footer">
                            <button id="cancelEditLecturerBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>