<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="/css/ADMIN-Sections.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script defer src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
        <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script defer src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
        <script defer src="/js/DataTable.js"></script>
        <style>
            /* .container {
                position: relative;
                display: flex;
                align-items: flex-start;
                width: 50%;
            }

            .table-center {
                background: lightgoldenrodyellow;
                overflow-x: scroll;
            }

            .table-left,
            .table-right {
                background: lightsteelblue;
            }

            table,
            th,
            td {
                border: 1px solid black;
            }

            th,
            td {
                padding: .5em 1em;
            } */
        </style>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
                let userdata = /*[[${userdata}]]*/ {
                    "id": 1150,
                    "role": "LECTURER",
                    "password": null,
                    "school": "School of Information Technology",
                    "department": "Software Engineering",
                    "name": "Dr.Sujitra Arwatchananukul"
                };
                let subject = /*[[${subject}]]*/ undefined
                let students = subject.student;
                let period = subject.period;
                let history = subject.attendanceHistory;
                let semester = subject.semester;
                // let students = /*[[${students}]]*/ 'default';
                // let period = /*[[${period}]]*/ 'default';
                // let history = /*[[${history}]]*/ 'default';
                // let semester = /*[[${semester}]]*/ {
                //     "year": 2023,
                //     "id": 6666,
                //     "dateStart": "8/16/2023",
                //     "term": 1,
                //     "dateFinish": "12/16/2023"
                // };
            /*]]>*/
        </script>
    </head>
    <body th:if="${userdata.getRole().equals('LECTURER')}">
        <span th:text="${subject.getCourse().getID()}"></span>
        <span th:text="${subject.getCourse().getName()}"></span>
        <div class="container pt-5">
            <table id="student-table week-table" class="table table-striped" style="width:100%">
              <thead>
                  <tr>
                      <th>StudentID</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
                  <tr>
                      <th>StudentID</th>
                  </tr>
              </tfoot>
            </table>
          </div>
          <script>
            $(document).ready(function() {
                $('#student-table').DataTable({

                });
                $('#week-table').DataTable({
                    scrollX: true
                });
            });
        </script>
        <!-- <div class="container">
            <div class="table-left">
                <table id="student-table">
                    <tr>
                        <th>Student ID</th>
                    </tr>
                </table>
            </div>
            <div class="table-center">
                <table id="week-table"> -->
                    <!-- INSERT WEEK TOTAL -->
                <!-- </table>
            </div>
            <div class="table-right">
                <table id="total-checkin">
                    <tr>
                        <th>Totals</th>
                    </tr>
                </table>
            </div>
        </div> -->
        <!-- <div class="table" id="course">
            <div class="header">
                <div class="cell">Student-Id</div>
            </div>
        </div> -->
        <script>
            function GetDateListByDayLabel(startDate, endDate, daylabel) {
                const daysOfWeek = {
                    "Sun": 0,
                    "Mon": 1,
                    "Tue": 2,
                    "Wed": 3,
                    "Thu": 4,
                    "Fri": 5,
                    "Sat": 6
                };
                const DaysLabel = [];
                let currentDate = new Date(startDate);
                while (currentDate <= endDate) {
                    if (currentDate.getDay() === daysOfWeek[daylabel]) { // 5 represents Friday (0 is Sunday, 6 is Saturday)
                        DaysLabel.push(new Date(currentDate));
                    }
                    currentDate.setDate(currentDate.getDate() + 1); // Move to the next day
                }
                return DaysLabel;
            }
            const WeekDateList = GetDateListByDayLabel(new Date(semester.dateStart), new Date(semester.dateFinish), period.substring(0, 3));
            const TotalWeek = WeekDateList.length;
            function calculateWeeks(startDate, endDate) {
                const start = startDate;
                const end = endDate;
                const millisecondsPerWeek = 1000 * 60 * 60 * 24 * 7;
                const differenceInTime = end.getTime() - start.getTime();
                const weeksElapsed = Math.floor(differenceInTime / millisecondsPerWeek);
                return weeksElapsed;
            } // ChronoUnit.WEEKS.between (in java)
            //////////////////////////////////////////////////////////
            // const tableHeader = document.querySelector('.header');
            // const weekRow = document.createElement('div');
            // weekRow.classList.add('cell');
            // for (let index = 1; index <= TotalWeek; index++) {
            //     const weekHeader = document.createElement('div');
            //     weekHeader.classList.add('week-header');
            //     weekHeader.textContent = `Week ${index}`;
            //     weekRow.appendChild(weekHeader);
            // }
            // tableHeader.appendChild(weekRow);
            const studentTable = document.getElementById("student-table");
            const weekTable = document.getElementById("week-table");
            const totalsTable = document.getElementById("total-checkin");
            const WeekColumn = weekTable.insertRow();
            WeekDateList.forEach(date => {
                const cell = WeekColumn.insertCell();
                cell.innerHTML = date.toLocaleDateString();
            });
            function countCheckIn(student_history, std_id) {
                let count = 0;
                for (const week in student_history) {
                    if (Object.hasOwnProperty.call(student_history, week)) {
                        const check = student_history[week];
                        if (check == true) {
                            count++;
                        }
                    }
                }
                return count;
            }
            function insertDataForMultipleStudents() {
                for (const idx in students) {
                    if (Object.hasOwnProperty.call(students, idx)) {
                        const student = students[idx];
                        const studentid = student.id;
                        if (studentid) {
                            // insert column Student ID
                            const LEFT = studentTable.insertRow();
                            const studentCell = LEFT.insertCell();
                            studentCell.textContent = studentid;
                            // verify column each of Student ID has check-in by each week
                            const CENTER = weekTable.insertRow();
                            let verify = history && history[studentid] || {};
                            const RIGHT = totalsTable.insertRow();
                            const totalcheck = RIGHT.insertCell();
                            totalcheck.textContent = countCheckIn(verify, studentid);
                            WeekDateList.forEach(date => {
                                const WEEK_ELAPSED = calculateWeeks(new Date(semester.dateStart), new Date(date)) // date var is represent as each now
                                const cell = CENTER.insertCell();
                                const checkbox = document.createElement('input');
                                checkbox.type = 'checkbox';
                                if (verify) {
                                    if (verify[WEEK_ELAPSED]) {
                                        checkbox.checked = true;
                                    }
                                }
                                checkbox.onclick = async function() {
                                    const response = await axios.put(`/check-in/edit?week=${WEEK_ELAPSED}&instanceid=${subject.id}&studentid=${studentid}&value=${checkbox.checked}`); // custom check-in (for lecturer)
                                    if (response.data.success) {
                                        checkbox.checked = response.data.check;
                                        history = response.data.map;
                                        verify = history && history[studentid] || {};
                                        totalcheck.textContent = countCheckIn(verify, studentid);
                                    } else {
                                        checkbox.checked = checkbox.checked // not change
                                    }
                                }
                                // checkbox.addEventListener('change', async function() {
                                // });
                                cell.appendChild(checkbox);
                            });
                            
                        }
                    }
                }
            }
            // Call the function to insert data when the page loads
            window.onload = insertDataForMultipleStudents;
        </script>
    </body>
</html>
