<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <table class="table" th:if="${userdata.getRole().equals('STUDENT')}">
            <thead>
                <tr>
                    <th>COURSEID</th>
                    <th>NAME</th>
                    <th>SECTION</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="courseInfo : ${mycourse}">
                    <td th:text="${courseInfo.course.getID()}"></td>
                    <td th:text="${courseInfo.course.getName()}"></td>
                    <td th:text="${courseInfo.getSection()}"></td>
                </tr>
            </tbody>
        </table>
        <script th:inline="javascript">
            /*<![CDATA[*/
                var userdata = /*[[${userdata}]]*/ 'default';
                console.log(userdata);
                var mycourse = /*[[${mycourse}]]*/ 'default';
                console.log(mycourse);
            /*]]>*/
        </script>
    </body>
</html>
